* {
  box-sizing: border-box;
}

/* Set a background color */
/* body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  } */

.reveal {
  opacity: 100%;
  transition-duration: 1s;
  transition-delay: 1s;
}

.hidden {
    opacity: 0%;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: -17px;
  background-image: url(./assets/desertPhoto1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border: 1px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* .content::after { */
  /* position: absolute; */
  /* left: -200px; */
  /* opacity: 0%; */
/* } */
